* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(150, 250, 250);
  --color-secondary: rgb(118, 197, 173);
  --color-stand-out: rgb(255, 234, 202);
}

/* example organizing https://dev.to/alextsalg/css-structure-160e */
.example-of-organizing {
  /* Positioning Block */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Structure Block */
  display: flex;
  width: 100%;
  background: darkgreen;
  border: 1px solid #fff;

  /* Typography Block */
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  /* Modifier Block */
  transition: all ease-in 250ms;
  transform: scale(1.1);
  z-index: 42;
}

body {
  background-color: rgb(17, 29, 29);
  color: rgb(150, 250, 250);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  /* border: 1px solid red; */
  color: var(--color-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
}

main h2 {
  padding: 1rem;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 80vw;
  padding: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  background-color: rgb(17, 29, 29);
  color: rgb(150, 250, 250);

  text-align: center;
}

form button {
  margin-top: 15px;
  margin-bottom: 60px;
  padding: 15px;
  border-radius: 5px;

  background-color: var(--color-stand-out);
  color: darkslategray;
  font-weight: bold;
  letter-spacing: 2px;
  transform: skew(-10deg, 0deg);
  text-transform: uppercase;

  cursor: pointer;

  /* border: none; */
}

/* END OF FORM */
